@charset "utf-8";

/*相册*/
.div_zindex{ z-index:88;}
.imgContainer {
	width: 1000px;
	margin: 20px auto;
	
}
.imgUl {
	position: relative;
	width:2500px;
}
.box {
	width: 910px;
	margin-left: 30px;
	overflow: hidden;
	margin: 0 auto;
}
.detailImg,
.smallImg {
	position: relative;
}
/*detailImg*/
#detailImg-box {
	min-height: 200px;
}
.detailImg {
	text-align: center;
}
.detailImg img {
	max-width: 750px;
	width:750px;
	height:690px;
	margin:20px auto;
}
.detailImg p {
	text-align: center;
	color: #403e3b;
	font-size:32px;
	font-family:"Microsoft YaHei",SimSun,SimHei;
	line-height: 40px;
	height:40px;
	margin-bottom:20px;
}
#detailImg-pre,
#detailImg-next {
	position: absolute;
	width: 92px;
	height: 192px;
	top: 50%;
	margin-top:-100px;
	background: url(../images/page_icon.png) 0 0 no-repeat;
	cursor: pointer;
	text-indent:-9999px;
	z-index: 888;
}
#detailImg-pre {
	left: 0;
	background-position: 0 -192px;
}
#detailImg-next {
	right: 0;
	background-position: 0 0;
}
#detailImg-pre:hover {
	background-position: -92px -192px;
}
#detailImg-next:hover {
	background-position: -92px 0;
}
/*smallImg*/
#smallImg-box {
	height: 140px;
}
.smallImg li {
	float: left;
	width: 150px;
	margin-right:2px;
	
}
.smallImg li a {
	display: block;
	width: 140px;
	height: 110px;
	border: 5px solid #e6e6e6;
	overflow: hidden;
	vertical-align: middle;
	margin: 10px auto;
}
.smallImg_bg{
	width:980px;
	background-color:#e6e6e6;
	padding:0 10px;
}
.smallImg img {
	width: 140px;
	height:110px;
}
.smallImg li a:hover,
.smallImg .cur a {
	border-color: #78c1c0;
}
#smallImg-pre,
#smallImg-next {
	position: absolute;
	top: 35%;
	height: 42px;
	width: 21px;
	margin: 0;
	background: url(../images/page_icon.png) 0 0 no-repeat;
	cursor: pointer;
}
#smallImg-pre {
	left: 0;
	background-position:0 -384px;
}
#smallImg-next {
	right: 0;
	background-position: -46px -384px;
}
#smallImg-pre:hover {
	background-position: -21px -384px;
}
#smallImg-next:hover {
	background-position: -69px -384px;
}